{
  "root": true,
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "rules": {
      "semi": 1,
      "indent": [ "error", "tab" ]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  }
}
